*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: white
}



.qr-image{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}




.qr-image img{
    width: 350px;
    border-radius: 20px;
    background-image: url(./images/Barnca.jpg);
    
    
}

